.dropdown {
  overflow-y: scroll;
  height:20vh;
  width: 83%;
}

.dropdown > button {
  width:100%;
  background-color: white;
}
.dropdown-input {
  display: flex;
    justify-content: flex-end;
    width:100%;
}
option {
  background-color: white;
  color: rgb(78, 81, 81)
}
option:hover {
  color: white;
  background-color:rgb(78, 81, 81)
}