
/*Mobile Sizes*/
@media screen and (max-width: 425px) {
  .App {
    width: 100%;
  }
  
}

/*Mobile Sizes*/
@media screen and (min-width: 426px) {
  .App {
    width: 100%;
  }
}
.App {
  background-color: floralwhite;
  display: flex;
    flex-direction: column;
    height:100vh;
}
