.App {
  display: flex;
    flex-direction: column;
    height:100vh;
    width:100%;
    /* align-items: center; */
}
/* all phone sizes
@media screen and (max-width: 27em) {
  header {
    background-color: yellow;
    /* width: max-content;  */

  /* }
} */


/*this is laptop and tablet size*/
/* @media screen and (min-width: 27.1em){ 
  .App {
    
    background-color: red;
  }
}   */

