
@media screen and (max-width: 425px) {
  .cardImage {
    height:20vh;
  }
  .card {
    width: 80%;
    margin: 10%;
    border: 2px solid black;
    border-radius: 20%;
    padding: 7%;
    background-color: white;
  }
  .card:hover {
    box-shadow: 5px 5px purple;
    outline-style: solid black;
    transform: scale(1.2) perspective(3em);
    outline-width: 10%;
  }
  
}

@media screen and (min-width: 426px){ 
  
  .card {
    background-color: white;
    
      width: 90%;
      margin: 10%;
      border: 2px solid black;
      border-radius: 20%;
      padding: 7%;
    
    
  }
  .card:hover {
    box-shadow: 5px 5px purple;
    outline-style: solid black;
    transform: scale(1.2) perspective(3em);
    outline-width: 10%;
  }
  .cardImage {
    height:20vh;
    width:85%;

  }
}

.card-info > p {
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  text-decoration: none;
  color:rgb(78, 81, 81)
}
