$background-color: #00ffff;

header {
    align-items: center;
    /* background-image: banner url here, */
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}
h1 {
    color: $background-color;

}
.logo {
    height: 5vh;
}
