header {
    align-items: center;
    background-image: url('../../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}


.logo {
    height: 5vh;
}
